body{
    flex-direction: row;
}
.button-list{
    width:100%;
    height: 15rem;
    z-index: 0;
}
.button-list:hover{
    transition: all 1s ease-in-out;
}
.button-list:hover #home{
    transition: 2s;
    position: relative;
    margin-left: 1rem;
}
.button-list:hover #techPort{
    transition: 1s;
    position: fixed;
    margin-left: 1rem;
}
.button-list:hover #qualif{
    transition: 2s;
    position: fixed;
    margin-left: 14rem;
}
.button-list:hover #services{
    transition: 2s;
    position: fixed;
    margin-left: 27rem;
}
.button-list:hover #chatGPT{
    transition: 2s;
    position: fixed;
    margin-left: 40rem;
}

.links{
    width: 12rem;
    height: 12rem;
    word-wrap:normal;
    border-radius: 50%;    
}
.links:hover{
    z-index: 10;
}

.button-list{
    flex-direction: row;
}

#home{
    position: fixed;
    z-index: 5;
}
#home:hover{
    transition: 2s;
    background-color: #ff5630;
}
#techPort{
    position: fixed;
    margin-left: 6rem;
    z-index: 4;
}
#techPort:hover{
    transition: 2s;
    background-color: #ffab00;
    z-index: 10;
}
#qualif{
    position: fixed;
    margin-left: 12rem;
    z-index: 3;
}
#qualif:hover{
    transition: 2s;
    background-color: #36b37e;
    z-index: 10;
}
#services{
    position: fixed;
    margin-left: 18rem;
    z-index: 2;
}
#services:hover{
    transition: 2s;
    background-color: #00b8d9;
    z-index: 10;
}
#chatGPT{
    position: fixed;
    margin-left: 24rem;
    z-index: 1;
}
#chatGPT:hover{
    transition: 2s;
    background-color: #6554c0;
    z-index: 10;
}